{% extends 'base.twig' %}

{% block content %}
    <p>Opinionated, modern PHP web application skeleton using Twig templates and HTMX for interactivity.</p>
    <p>Features:</p>
    <ul>
        <li><a href="/">Templating</a></li>
    </ul>
{% endblock %}