* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --mine-shaft: #212121;
    --white: #ffffff;
}

body {
    font-family: -apple-system,BlinkMacSystemFont,Helvetica Neue,Arial,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
    font-size: 1.2rem;
    color: var(--mine-shaft);
    overflow-y: scroll;
    line-height: 1.5;
    background-color: var(--white);
}