* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --mine-shaft: #212121;
    --concrete: #fafafa;
    --shade: #ededed;
    --white: #ffffff;
    --azure: #2940A8;

    --color-text: var(--mine-shaft);
    --color-background: var(--concrete);
    --color-accent: var(--azure);

    --quarter: .5rem;
    --three-quarter: .75rem;
    --half: 1rem;
    --spacing: 2rem;
    --double: 4rem;
    --font-size: 1.2rem;
    --icon-size: 2.75rem;
    --radius: .75rem;
}

body {
    font-family: -apple-system,BlinkMacSystemFont,Helvetica Neue,Arial,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
    font-size: var(--font-size);
    color: var(--color-text);
    overflow-y: scroll;
    line-height: 1.5;
    background-color: var(--color-background);
    min-height: 100vh;
}

a {
    color: var(--color-accent);
    text-decoration: none;
    line-height: 1;
}

.flow > * + * {
    margin-top: var(--half);
}

.flex {
    display: flex;
}

.wrap {
    display: flex;
    flex-direction: column;
    width: 100%;
}

nav {
    background-color: var(--white);
    border-right: solid 1px var(--shade);

    a {
        display: block;
        color: var(--color-text);
        width: var(--icon-size);
        padding: var(--quarter);
    }

    ul {
        display: flex;
        flex-direction: column;
        list-style: none;

        li {
            margin: var(--half) var(--half) 0 var(--half);
            border-radius: var(--radius);
        }

        li:hover {
            background-color: var(--shade);
        }
    }
}

header {
    background-color: var(--white);
    border-bottom: solid 1px var(--shade);
    padding: var(--half) var(--spacing);
}

header h1 {
    font-size: 1.5rem;
}

main {
    padding: var(--spacing);
    margin: var(--spacing);
    width: calc(100% - var(--double));
    background-color: var(--white);
    border-radius: var(--radius);
    border: solid 1px var(--shade);

    p, ul, ol {
        max-width: 40rem;
    }

    ul, ol {
        margin-left: var(--half);
    }

    code {
        display: inline-block;

        pre {
            font-size: 1rem;
            padding: var(--half);
            border-radius: var(--radius);
            background-color: var(--shade);
        }
    }
}

@media (max-width: 40rem) {
    :root {
        --quarter: .25rem;
        --three-quarter: .5rem;
        --half: .75rem;
        --spacing: 1rem;
        --double: 2rem;
        --font-size: 1.1rem;
        --icon-size: 2.4rem;
        --radius: .75rem;
    }

    body {
        flex-direction: column;
    }

    nav {
        ul {
            flex-direction: row;

            li {
                margin: var(--half) 0 var(--half) var(--half);
            }
        }
    }
}